.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Roboto', sans-serif;
}

label{
  color: #000022;
  margin: 5px 0;
}

button{
  width: 100px;
  color: #fbf5f3;
  background-color: #de3c4b;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
}

.error{
  color: red;
  font-size: 0.8rem;
}