.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('https://unsplash.com/photos/26MJGnCM0Wc');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  color: #000022;
  margin: 5px 0;
}

button{
  width: 100px;
  color: #fbf5f3;
  background-color: #de3c4b;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
}

.error{
  color: red;
  font-size: 0.8rem;
  
form {
  width: 80%;
  background-color: #000022;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
}

 .form-fields {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}

 form .field {
  width: 40%;
  margin: 0 5% 15px !important;
}

 form button {
  margin: 25px auto 10px !important;
  width: 30%;
}